html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "meow script";
  src: local("meow script"),
    url("/fonts/MeowScript-Regular.ttf") format("truetype");
}

.my-masonry-grid {
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 20px;
}

.skeleton {
  display: block;
  background-color: #3d3f5421;
  animation: 2s ease-in-out 0.5s infinite normal none running skeleton;
}
@keyframes skeleton {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
