html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: "meow script";
  src: local("meow script"),
    url("/fonts/MeowScript-Regular.ttf") format("truetype");
}

.nav-link {
  position: relative;
  color: theme("colors.slate[600]");
  transition: color 250ms ease-in-out;
}
.nav-link:hover {
  color: theme("colors.slate[800]");
}
.nav-link::before {
  content: "";
  position: absolute;
  border-radius: 5px;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: theme("colors.slate[700]");
  transition: width 250ms ease-in-out;
}
.nav-link:hover::before {
  width: 100%;
}

/* Nav button */
[aria-expanded] span {
  transition: transform 200ms ease-in-out;
}
[aria-expanded="true"] span:nth-of-type(1) {
  transform: translateY(9px) rotate(45deg);
}
[aria-expanded="true"] span:nth-of-type(2) {
  transform: scale(0);
}
[aria-expanded="true"] span:nth-of-type(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* Mobile Nav */
.mobile-nav {
  transition: transform 300ms cubic-bezier(0, 0, 0, 1.25);

  @starting-style {
    transform: translateY(-100%);
  }
}

.skeleton {
  display: block;
  background-color: #3d3f5421;
  animation: 2s ease-in-out 0.5s infinite normal none running skeleton;
}
@keyframes skeleton {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

.sending {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sending span {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  transform-origin: center;
}
.sending span:nth-of-type(1) {
  animation: ease-in-out 1s alternate infinite breathe;
}
.sending span:nth-of-type(2) {
  animation: ease-in-out 1s 100ms alternate infinite breathe;
}
.sending span:nth-of-type(3) {
  animation: ease-in-out 1s 200ms alternate infinite breathe;
}

@keyframes breathe {
  0%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
