---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Page section components
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects";
import About from "../components/About.astro";
import Contact from "../components/contact.tsx";
import Skills from "../components/Skills.tsx";
---

<BaseLayout>
  <main>
    <Hero />

    <About />

    <Skills />

    <section id="projects">
      <h2 class="font-semibold text-3xl my-6">Projects</h2>
      <Projects client:visible />
    </section>

    <Contact client:visible />
  </main>
</BaseLayout>
