---
// Layout import
import BaseLayout from "../layouts/BaseLayout.astro";

// Page section components
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import Contact from "../components/contact.tsx";
import Skills from "../components/Skills.tsx";
import RecentArticles from "../components/RecentArticles.tsx";
---

<BaseLayout>
  <main class="grid gap-16">
    <Hero />

    <About />

    <Skills client:visible />

    <section id="projects">
      <h2 class="font-semibold text-4xl mb-8 font-display underline">
        Projects
      </h2>
      <Projects />
    </section>

    <section>
      <div class="flex justify-between mb-8 items-center">
        <h2 class="font-semibold text-4xl font-display underline">
          Recent articles
        </h2>

        <a href="https://douiri.org" target="_blank">view more &RightArrow;</a>
      </div>
      {import.meta.env.PROD && <RecentArticles client:load />}
    </section>

    <Contact client:visible />
  </main>
</BaseLayout>
