---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <Fragment slot="head">
    <script is:inline type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
          {
            "@type": "ListItem",
            "position": 1,
            "name": "privacy",
            "item": "https://idriss.douiri.org/privacy"
          }
        ]
      }
    </script>
  </Fragment>

  <main class="mt-8 px-4">
    <h1 class="text-3xl font-semibold">Privacy Policy</h1>

    <time datetime="2024-02-04" class="text-xs text-gray-500"
      >Last Updated: 2024-02-04</time
    >

    <h2 class="text-2xl">Introduction</h2>

    <p>
      Welcome to Idriss Douiri's portfolio website. This Privacy Policy explains
      how we collect, use, and protect your personal information when you visit
      this website.
    </p>

    <h2 class="text-2xl">Information We Collect</h2>

    <h3>1. Personal Information</h3>

    <h4>Contact Form</h4>

    <p>
      When you use the contact form on this website, we may collect the
      following personal information:
    </p>

    <ul>
      <li>Name</li>
      <li>Email Address</li>
    </ul>

    <h3>2. Non-Personal Information</h3>

    <h4>Google Analytics</h4>

    <p>
      This website uses Google Analytics, a web analytics service provided by
      Google, Inc. Google Analytics uses cookies to collect anonymous traffic
      data. This information is aggregated and does not personally identify you.
      The data collected may include:
    </p>

    <ul>
      <li>IP address</li>
      <li>Browser type</li>
      <li>Pages visited on the site</li>
      <li>Time spent on each page</li>
    </ul>

    <p>
      For more information on how Google Analytics handles data, please refer to <a
        target="_blank"
        href="https://policies.google.com/privacy?hl=en-US"
        >Google's Privacy & Terms</a
      >.
    </p>

    <h2 class="text-2xl">How We Use Your Information</h2>

    <p>
      We use the information collected To analyze website traffic and improve
      our website's content and user experience.
    </p>

    <h2 class="text-2xl">Cookies</h2>

    <p>
      This website uses cookies to enhance your experience. You can set your
      browser to refuse all or some browser cookies, or to alert you when
      websites set or access cookies.
    </p>

    <h2 class="text-2xl">Changes to This Privacy Policy</h2>

    <p>
      We may update this Privacy Policy from time to time. Any changes will be
      posted on this page with the updated date.
    </p>

    <h2 class="text-2xl">Contact Information</h2>

    <p>
      For any questions regarding this Privacy Policy, please contact us at:
    </p>

    <p>
      <a href="mailto:drisspennywise@gmail.com">drisspennywise@gmail.com</a><br
      />
      or <a href="tel:+212651501766">+212 651 501 766</a>
    </p>
  </main>
</BaseLayout>

<style>
  h2 {
    margin-block: 1em;
  }
  h3 {
    font-size: theme("fontSize.xl");
    margin-block: 0.5em;
  }
  p {
    color: theme("colors.gray[500]");
    margin-bottom: 1em;
  }
  ul {
    list-style-type: circle;
    padding-left: 1rem;
  }
  a {
    text-decoration: underline;
    font-weight: bold;
  }
</style>
