---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="mt-8 px-4">
    <h1 class="text-3xl font-semibold">Privacy Policy</h1>

    <date class="text-xs text-gray-500">Last Updated: 2/2/2024</date>

    <h2 class="text-2xl">Introduction</h2>

    <p>
      Welcome to [Your Name]'s portfolio website. This Privacy Policy explains
      how we collect, use, and protect your personal information when you visit
      this website.
    </p>

    <h2 class="text-2xl">Information We Collect</h2>

    <h3>1. Personal Information</h3>

    <h4>Contact Form</h4>

    <p>
      When you use the contact form on this website, we may collect the
      following personal information:
    </p>

    <ul>
      <li>Name</li>
      <li>Email Address</li>
      <li>Any additional information you choose to provide in your message</li>
    </ul>

    <h3>2. Non-Personal Information</h3>

    <h4>Google Analytics</h4>

    <p>
      This website uses Google Analytics, a web analytics service provided by
      Google, Inc. Google Analytics uses cookies to collect anonymous traffic
      data. This information is aggregated and does not personally identify you.
      The data collected may include:
    </p>

    <ul>
      <li>IP address</li>
      <li>Browser type</li>
      <li>Pages visited on the site</li>
      <li>Time spent on each page</li>
    </ul>

    <p>
      For more information on how Google Analytics handles data, please refer to <a
        target="_blank"
        href="https://policies.google.com/privacy?hl=en-US"
        >Google's Privacy & Terms</a
      >.
    </p>

    <h2 class="text-2xl">How We Use Your Information</h2>

    <p>We use the information collected for the following purposes:</p>

    <ul>
      <li>To respond to your inquiries submitted through the contact form.</li>
      <li>
        To analyze website traffic and improve our website's content and user
        experience.
      </li>
    </ul>

    <h2 class="text-2xl">Cookies</h2>

    <p>
      This website uses cookies to enhance your experience. You can set your
      browser to refuse all or some browser cookies, or to alert you when
      websites set or access cookies. If you disable or refuse cookies, please
      note that some parts of this website may become inaccessible or not
      function properly.
    </p>

    <h2 class="text-2xl">Your Rights</h2>

    <p>You have the right to:</p>

    <ul>
      <li>Access the personal information we hold about you.</li>
      <li>Correct inaccuracies in your personal information.</li>
      <li>Request the deletion of your personal information.</li>
    </ul>

    <p>
      To exercise these rights, please contact us using the information provided
      at the end of this Privacy Policy.
    </p>

    <h2 class="text-2xl">Changes to This Privacy Policy</h2>

    <p>
      We may update this Privacy Policy from time to time. Any changes will be
      posted on this page with the updated date.
    </p>

    <h2 class="text-2xl">Contact Information</h2>

    <p>
      For any questions regarding this Privacy Policy, please contact us at:
    </p>

    <p>
      [Your Name]<br />
      [Your Email Address]<br />
      [Your Mailing Address]
    </p>
  </main>
</BaseLayout>

<style>
  h2 {
    margin-block: 1em;
  }
  h3 {
    font-size: theme("fontSize.xl");
    margin-block: 0.5em;
  }
  p {
    color: theme("colors.gray[500]");
    margin-bottom: 1em;
  }
</style>
