---
import "../styles/global.css";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const {
  title = "Douiri Idriss - Portfolio - Showcase of Skills and Projects",
  description = "Explore Douiri Idriss's personal website and portfolio showcasing his talents and projects.",
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" content={description} />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>

<meta
  name="keywords"
  content="portfolio,developer,douiri idriss,d'ouiri,driss,person,web developer,programmer"
/>

<link rel="sitemap" href="/sitemap.xml" />
<meta name="language" content="English" />
<meta name="author" content="Idriss Douiri" />

<link rel="privacy-policy" href="/privacy" />

<meta property="og:title" content={title} />
<meta property="og:site_name" content="douiri" />
<meta property="og:url" content="https://idriss.douiri.org" />
<meta property="og:description" content={description} />
<meta property="og:type" content="profile" />

<link
  rel="icon"
  media="(prefers-color-scheme: light)"
  type="image/svg+xml"
  href="/logo/LOGO D' light_mode.svg"
/>
<link
  rel="icon"
  media="(prefers-color-scheme: dark)"
  type="image/svg+xml"
  href="/logo/LOGO D' dark_mode.svg"
/>

<!-- Google tag (gtag.js) -->
<script
  type="text/partytown"
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-CKLC8LSENB"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-CKLC8LSENB");
</script>

  {/* TODO: include hasPart property */}
<script is:inline type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "givenName": "Idriss",
    "familyName": "Douiri",
    "alternateName": "driss",
    "name": "Idriss Douiri",
    "birthDate": "2005-01-23",
    "email": "drisspennywise@gmail.com",
    "jobTitle": "Web Developer",
    "image": "https://douiri.org/images/author/idriss-douiri.jpg",
    "url": "https://idriss.douiri.org",
    "description": "a web developer specializing in front-end and back-end technologies.",
    "sameAs": [
      "https://www.instagram.com/drs_artz/",
      "https://www.linkedin.com/in/idriss-douiri-34a69a229/",
      "https://twitter.com/drs_artz",
      "https://www.facebook.com/drsartz/",
      "https://github.com/AstroDriss",
      "https://douiri.org"
    ],
    "hasOccupation": {
      "@type": "Occupation",
      "name": "Web Developer",
      "skills": ["HTML", "CSS", "JavaScript", "React", "Nextjs", "Python", "PHP", "MySQL"],
      "description": "Specializing in building responsive and scalable web applications."
    },
    "alumniOf": {
      "@type": "EducationalOrganization",
      "name": "Université Ibn Zohr",
      "url": "https://www.uiz.ac.ma/"
    },
    "mainEntityOfPage": {
      "@type": "WebSite",
      "@id": "https://idriss.douiri.org"
    }
  }
</script>
