---
import Navigation from "./Navigation.tsx";
---

<header class="flex justify-between items-center px-4 py-1">
  <a href="/" class="flex items-center">
    <img
      src="/logo/LOGO D' light_mode.svg"
      width="40px"
      height="40px"
      alt="logo"
    />
    <img
      src="/logo/ouiri.svg"
      alt=""
      aria-hidden="true"
      class="relative -bottom-1"
      width="45px"
    />
  </a>

  <Navigation client:media="(max-width: 640px)" />
</header>

<style>
  header {
    justify-content: space-between;
    position: sticky;
    top: 8px;
    border-radius: 20px;
    background-image: linear-gradient(
      to right,
      rgb(255 255 255 / 0.5),
      rgb(255 255 255 / 0.1),
      rgb(255 255 255 / 0.6) 85%,
      rgb(255 255 255 / 0.4)
    );
    border: 2px solid #fff;
    backdrop-filter: blur(200px);
    box-shadow: 0 0 20px rgb(0 0 0 / 0.1);
    z-index: 999;
  }
</style>
