---
import Navigation from "./Navigation.tsx";
---

<header class="flex items-center px-4 py-1">
  <a href="/" class="logo flex">
    <img
      src="logo/LOGO D' light_mode.svg"
      width="40px"
      height="40px"
      alt="logo"
    />
    <svg
      width="60"
      height="40"
      viewBox="0 0 40 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <text font-family="MeowScript-Regular, Meow Script" font-size="20">
        <tspan x="0" y="16">ouiri</tspan>
      </text>
    </svg>
  </a>

  <Navigation client:media="(max-width: 640px)" />
</header>

<style>
  header {
    justify-content: space-between;
    position: sticky;
    top: 8px;
    border-radius: 20px;
    background-image: linear-gradient(
      to right,
      rgb(255 255 255 / 0.5),
      rgb(255 255 255 / 0.1),
      rgb(255 255 255 / 0.5)
    );
    border: 2px solid #fff;
    backdrop-filter: blur(200px);
    box-shadow: 0 0 20px rgb(0 0 0 / 0.1);
    z-index: 999;
  }
</style>
